/* 自定义字体 */
@font-face {
    font-family: 'ZCOOL XiaoWei';
    src: url(https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap);
}

@font-face {
    font-family: 'ZCOOL KuaiLe';
    src: url(https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap);
}

@font-face {
    font-family: 'Liu Jian Mao Cao';
    src: url(/css/LiuJianMaoCao-Regular.ttf);
}

@font-face {
    font-family: 'Ma Shan Zheng';
    src: url(/css/MaShanZheng-Regular.ttf);
}

/* body{
    font-family: 'Noto Serif TC'!important;
} */
