[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly
[submodule "source/bcbker2"]
	path = source/bcbker2
	url = git@github.com:iliyian/bcbker2
