/* 自定义字体 */
@font-face {
    font-family: 'ZCOOL XiaoWei';
    src: url(https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap);
}

@font-face {
    font-family: 'ZCOOL KuaiLe';
    src: url(https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap);
}

@font-face {
    font-family: 'Liu Jian Mao Cao';
    src: url(/css/LiuJianMaoCao-Regular.ttf);
}

@font-face {
    font-family: 'Ma Shan Zheng';
    src: url(/css/MaShanZheng-Regular.ttf);
}

@font-face {
    font-family: 'Ou Kai';
    src: url(/css/OuKai.otf);
}

@font-face {
    font-family: 'Kan Hei';
    src: url(/css/方正兰亭刊黑_GBK.ttf);
}

@font-face {
    font-family: 'Er Ci Yuan';
    src: url(/css/二次元字体.ttf);
}

/* body{
    font-family: 'Noto Serif TC'!important;
} */
